{% extends "base.html" %}

{% block content %}

<h2 style="margin-left: 25px; margin-top: 20px;">All Movies</h2>

<div class="movie-grid">
    {% for movie in movies %}
    <div class="movie-card">
        <a href="/movie/{{ movie.id }}" style="text-decoration: none; color: inherit;">
            <img src="{{ movie.poster }}" alt="{{ movie.title }}">
            <h4>{{ movie.title }}</h4>
            <p>⭐ {{ movie.rating }} | {{ movie.year }}</p>
        </a>
    </div>
    {% endfor %}
</div>

{% endblock %}

